@import "header.css";
@import "side-menu.css";
@import "content.css";
@import "footer.css";

/* Mobile First */
body {
  font-family: "Courier New", Courier, monospace;
}
#wrapper {
  display: grid;
  grid-gap: 16px;
  height: 90vh;
  grid-template-columns: 90vw;
  grid-template-rows: 10vh 10vh 1fr 20vh;
  grid-template-areas:
    "header"
    "side-menu"
    "content"
    "footer";
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
  #wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 1fr 75vh 1fr;
    grid-template-areas:
      "header header"
      "side-menu content"
      "footer footer";
  }
}

/* Large Screens */
@media (min-width: 901px) {
  body {
    font-size: 24px;
  }
  #wrapper {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 20vw 1fr;
    grid-template-rows: 1fr 75vh 1fr;
    grid-template-areas:
      "header header"
      "side-menu content"
      "footer footer";
  }
}
